/* ======================================================================= */
/* form item label padding */
/* ======================================================================= */
.ant-form-item-vertical .ant-form-item-label {
  padding-bottom: 2px !important;
}
.ant-form-item-vertical .ant-form-item-label >label{
  color: dimgray !important;
}